.u-margin-bottom-medium { margin-bottom: calculateRem(70) !important; }

.u-margin-top-small { margin-top: calculateRem(15) !important; }

.u-text-center { text-align: center !important; }
.u-text-left { text-align: left !important; }
