@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
** always specify translate values for x and y
*/
@mixin absoluteCenter($x, $y) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate($x, $y);
}

/* Applys overlay before the element that needs to have position set to relative */
@mixin overlay($height, $minHeight, $color, $opacity) {
  &::before {
    content: '';
    height: $height;
    min-height: $minHeight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba($color, $opacity);
  }
}
